html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: 'Lato', sans-serif;
  line-height: 1.4em;
  font-size: 110%;
  color: #333;
  background-color: #e1d7cc;
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.homepage {
  background-image: url(../images/animal-banner.jpg);
  background-size: cover;
  background-position: bottom, center;
  background-repeat: no-repeat;
  overflow: hidden;
  min-height: 30rem;
  height: 80vh;
}

h3 {
  color: #e05442;
  padding-top: 2rem;
}

p {
  color: #144c7b;
}

a {
  text-decoration: none;
}

.nav a {
  color: #fff;
  text-decoration: none;
}

.navyblue {
  color: #144c7b;
  text-decoration: none;
  position: absolute;
}

.orange {
  color: #e05442;
  text-align: left;
}

.adopt {
  color: #e05442;
  text-align: center;
  padding-top: 1.5rem;
}

.rescue {
  color: #e05442;
  text-align: center;
  padding-top: 1.5rem;
}

div {
  display: block;
}

.btn-ghost {
  color: #fff;
  background-color: #144c7b;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: left;
  padding-right: 6rem;
  padding-left: 4.3rem;
  padding-top: 1rem;
  padding-bottom: .5rem;
}

fieldset {
  border: 0;
}

.max-length {
  margin-left: auto;
  margin-right: auto;
  max-width: 36em;
  width: 100%;
}

.b {
  color: #fff;
}

.right {
  text-align: right;
}

button, .btn {
  background-color: #144c7b;
  color: #fff;
  text-decoration: none;
  border: 1px solid #144c7b;
  display: inline-block;
  padding: .375em .75em .42em;
}

.btn a {
  color: #fff;
}

a:hover, a:focus, .current {
  color: #e05442;
}

.line-1-2 {
  display: block;
  width: 65%;
  margin: 0 auto;
}

.lato {
  font-family: 'Lato', sans-serif;
}

.w-3-4 {
  width: 70%;
}

.left {
  float: none;
}

.push-1 {
  padding-top: 12rem;
  padding-right: 5rem;
}

.list-group-inline > li, .list-group--inline > li {
  display: inline-block;
}

.list-group, .list-group-inline, .list-group--inline {
  padding-left: 0;
  list-style-type: none;
}

@media only screen and (min-width: 38em) {
  .gutter-half, .gutter-1-2 {
    padding-left: .7rem;
    padding-right: .7rem;
  }

  .visible {
    display: block;
  }

  .giga {
    text-align: center;
    color: #e05442;
  }

  .kilo {
    text-align: left;
    color: #144c7b;
  }

.html {
    font-size: 110%;
    line-height: 1.4;
}
}

@media only screen and (min-width: 56.25em){
.info-card-grid_item {
  width: 49.25%;
}
